@use '../base/variables' as *;

.main-page {
    background: url('../assets/backgrounds/main-page-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__content {
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxxl;
    max-width: 1100px;
    margin: 0 auto;

    &-h1 {
        color: $color-white;
        line-height: 124%;
        font-weight: 800;
        font-size: $font-size-hero;
        max-width: 550px;
        margin-bottom: 20px;
    }

    &-p1, &-p2 {
        color: $color-white;
        line-height: 173%;
        font-size: $font-size-base;
        max-width: 460px;
        margin-bottom: $spacing-small;
    }

    &-p2 > span {
        color: $color-primary;
        font-weight: 700;
        font-size: 30px;
    }

    &-p3 {
        color: $color-white;
        line-height: 162%;
        font-size: 9.5px;
        max-width: 460px;
        margin-bottom: $spacing-small;
    }
}

@media (max-width: 1024px) {
    .header__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-small;
    }
}

@media (max-width: 360px) {
    .header__content-h1 {
        font-size: $font-size-large;
    }

    .header__content-p1,
    .header__content-p2 {
        font-size: $font-size-small;
    }
}