@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0;
}

body {
    overflow-x: hidden;
}

.container {
    @include container;
}

.secondary-container {
    @include secondary-container;
}

h6 {
    margin-bottom: 50px;
    font-size: $font-size-base;
    font-weight: 600;
    line-height: 100%;
    color: $color-white;
    text-wrap-mode: nowrap;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}