$color-primary: #FFB800;
$color-secondary: #01BDAA;
$color-purple: #410182;
$color-pink: #FE356F;
$color-white: #fff;
$color-black: #000;

$color-text-dark: #000D0C;
$color-text-gray: #333D3D;
$color-text-light: #666E6D;
$color-text-nav: #e0e0e0;

$bg-purple-light: #D9CCE6;
$bg-teal-light: #CCF2EE;
$bg-pink-light: #FFD7E2;

$font-size-hero: 54px;
$font-size-xlarge: 42px;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-base: 16px;
$font-size-small: 13px;
$font-size-xsmall: 10px;

$spacing-xxxl: 400px;
$spacing-xxl: 250px;
$spacing-xl: 170px;
$spacing-large: 150px;
$spacing-medium: 70px;
$spacing-small: 30px;

$radius-default: 10px;
$radius-large: 20px;
$radius-round: 100%;

$container-width: 1055px;
$secondary-container-width: 1200px;

$shadow-card: 10px 10px 45px 0px #0000000D;
$shadow-experience: 0px 0px 67px 3px #00000014;

$transition-default: 0.2s;
$transition-fast: 0.1s;

